.demo {
        display: flex;
        justify-content: space-evenly;
      }
      .k-icon.k-icon-star {
        color: #ffce2a;
      }
      .k-card {
        height: 460px;
      }

      h5 {
        padding: 10px;
      }