<a routerLink="/" class="btn btn-primary">Back</a>
<hr />

<kendo-card width="315px" orientation="vertical">
    <kendo-card-header class="k-hstack">
        <h5 kendoCardTitle>Passenger:</h5>
        <h5>George Hudson</h5>
    </kendo-card-header>
    <kendo-card-body>
        <div class="k-hstack">
            <div class="k-column k-text-left">Departure</div>
            <div class="k-column k-text-right">Arrival</div>
        </div>

        <div class="k-hstack">
            <div class="k-column k-text-left">
                <div class="k-display-4">SOF</div>
                <div>
                    6 Dec 2017<br />
                    10:30
                </div>
            </div>
            <div class="k-column k-display-4 k-text-center">✈️</div>
            <div class="k-column k-text-right">
                <div class="k-display-4">LON</div>
                <div>
                    6 Dec 2017<br />
                    12:30
                </div>
            </div>
        </div>
        <hr kendoCardSeparator />
        <div class="k-hstack">
            <div class="k-column k-text-left">
                <div class="k-display-4">LON</div>
                <div>
                    12 Dec 2017<br />
                    18:30
                </div>
            </div>
            <div class="k-column k-display-4 k-text-center">✈️</div>
            <div class="k-column k-text-right">
                <div class="k-display-4">SOF</div>
                <div>
                    12 Dec 2017<br />
                    22:30
                </div>
            </div>
        </div>
    </kendo-card-body>
    <kendo-card-footer>
        <div class="k-hstack">
            <div class="k-column k-text-left">Total:</div>
            <div class="k-column k-text-right">BGN 234</div>
        </div>
    </kendo-card-footer>
</kendo-card>

<div class="demo">
    <kendo-card>
        <img kendoCardMedia
            src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/cheesecake.jpg" />
        <kendo-card-body>
            <h4>No-Bake Cheesecake</h4>
            <div>
                <hr kendoCardSeparator />
                <div class="recipe-wrap">
                    This is truly the most perfect and easy no-bake cheesecake - a
                    smooth and creamy dessert that sets up beautifully in the
                    refrigerator.
                    <div>{{ action?.text }}</div>
                </div>
            </div>
        </kendo-card-body>
        <kendo-card-actions layout="stretched" [actions]="cardActions" (action)="onActionClick($event)">
        </kendo-card-actions>
    </kendo-card>
</div>

<div class="demo">
    <kendo-card>
        <img kendoCardMedia
            src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/waffles.jpg" />
        <kendo-card-body>
            <h4>Pumpkin Waffles</h4>
            <div *ngIf="expanded">
                <hr kendoCardSeparator />
                <div class="recipe-wrap">
                    Mix together flour, baking powder, salt, cinnamon, nutmeg, ginger,
                    and cloves in a large bowl. In a second bowl, add egg yolks,
                    sugar, pumpkin, milk, and oil; Whip the egg until stiff peaks
                    form. Gently fold in the flour mixture followed by the whipped egg
                    whites. Cook according to your waffle iron directions. Serve with
                    butter and maple syrup.
                </div>
            </div>
        </kendo-card-body>
        <hr kendoCardSeparator *ngIf="horizontalStretched" />
        <kendo-card-actions [orientation]="actionsOrientation" [layout]="actionsLayout">
            <button kendoButton fillMode="flat" (click)="toggleLike2()">
                <span [ngClass]="heartIcon2()"></span>
                Like
            </button>
            <hr kendoCardSeparator orientation="vertical" *ngIf="horizontalStretched" />
            <button kendoButton fillMode="flat" themeColor="primary" (click)="toggleRecipe()">
                <span class="k-icon k-i-more-vertical"></span>
                {{ btnText }}
            </button>
        </kendo-card-actions>
    </kendo-card>

    <div class="example-config">
        <div>Actions Orientation</div>
        <label class="k-radio-label" for="horizontal">
            <input kendoRadioButton type="radio" id="horizontal" value="horizontal" name="actionsOrientation"
                [(ngModel)]="actionsOrientation" />
            Horizontal
        </label>

        <label class="k-radio-label" for="vertical">
            <input kendoRadioButton type="radio" id="vertical" value="vertical" name="actionsOrientation"
                [(ngModel)]="actionsOrientation" />
            Vertical
        </label>
        <hr />

        <div>Actions Layout</div>
        <label class="k-radio-label" for="start">
            <input kendoRadioButton type="radio" id="start" value="start" name="actionsLayout"
                [(ngModel)]="actionsLayout" />
            Start
        </label>

        <label class="k-radio-label" for="end">
            <input kendoRadioButton type="radio" id="end" value="end" name="actionsLayout"
                [(ngModel)]="actionsLayout" />
            End
        </label>

        <label class="k-radio-label" for="stretched">
            <input class="k-radio" type="radio" id="stretched" value="stretched" name="actionsLayout"
                [(ngModel)]="actionsLayout" />
            Stretched
        </label>

        <label class="k-radio-label" for="center">
            <input kendoRadioButton type="radio" id="center" value="center" name="actionsLayout"
                [(ngModel)]="actionsLayout" />
            Center
        </label>
    </div>
</div>

<div class="demo">
    <kendo-card *ngFor="let card of mediaCards" width="260px">
        <iframe *ngIf="card.videoSrc" kendoCardMedia height="267" [src]="card.videoSrc"></iframe>
        <img *ngIf="card.imageSrc" kendoCardMedia [src]="card.imageSrc" />
        <kendo-card-body>
            <div>{{ card.description }}</div>
        </kendo-card-body>
        <kendo-card-actions [actions]="card.actionButtons" [layout]="card.actionsLayout"></kendo-card-actions>
    </kendo-card>
</div>

<div class="demo">
    <div>
        <!-- Horizontal Card -->
        <h5>Horizontal orientation</h5>
        <kendo-card orientation="horizontal">
            <img kendoCardMedia
                src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/coffee_first.jpg" />
            <div>
                <kendo-card-header>
                    <h1 kendoCardTitle>Coffee with friends</h1>
                    <div kendoCardSubtitle>
                        <span class="reviews">
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star-outline"></span>
                            <div>4/5 (681)</div>
                        </span>
                    </div>
                </kendo-card-header>
                <kendo-card-body>
                    <p>
                        The right place to be if you're in love with high quality
                        espresso or tea. We offer wide range to top coffee brands as
                        Davidoff Cafe, Lavazza, Tchibo, Illy.
                    </p>
                </kendo-card-body>
                <kendo-card-actions>
                    <button kendoButton fillMode="flat" themeColor="primary">
                        Review
                    </button>
                </kendo-card-actions>
            </div>
        </kendo-card>
        <!-- Vertical Card -->
        <h5>Vertical orientation</h5>
        <kendo-card>
            <img kendoCardMedia
                src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/coffee_second.jpg" />
            <div>
                <kendo-card-header>
                    <h1 kendoCardTitle>Coffee with friends</h1>
                    <div kendoCardSubtitle>
                        <span class="reviews">
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star" style="color: #ffce2a"></span>
                            <span class="k-icon k-i-star-outline"></span>
                            <div>4/5 (681)</div>
                        </span>
                    </div>
                </kendo-card-header>
                <kendo-card-body>
                    <p>
                        The right place to be if you're in love with high quality
                        espresso or tea. We offer wide range to top coffee brands as
                        Davidoff Cafe, Lavazza, Tchibo, Illy.
                    </p>
                </kendo-card-body>
                <kendo-card-actions>
                    <button kendoButton fillMode="flat" themeColor="primary">
                        Review
                    </button>
                </kendo-card-actions>
            </div>
        </kendo-card>
    </div>



    <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
            <kendo-avatar width="40px" height="40px" [imageSrc]="thumbnailSrc" shape="circle"></kendo-avatar>
            <div>
                <h1 kendoCardTitle>bg_tourism</h1>
                <p kendoCardSubtitle>Bulgaria, Europe</p>
            </div>
        </kendo-card-header>
    </kendo-card>
    <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
            <kendo-avatar width="40px" height="40px" [imageSrc]="thumbnailSrc" shape="circle"></kendo-avatar>
            <div>
                <h1 kendoCardTitle>bg_tourism</h1>
                <p kendoCardSubtitle>Bulgaria, Europe</p>
            </div>
        </kendo-card-header>
        <img [src]="cover" kendoCardMedia alt="cover_img" />
        <kendo-card-body>
            <h4>Black sea, Bulgaria</h4>
            <hr kendoCardSeparator />
            <p>Mollit aute esse cupidatat exercitation. Est voluptate enim commodo elit dolor irure culpa pariatur dolor
                exercitation laborum minim irure. Ipsum mollit velit officia elit esse aliquip. Consectetur culpa ea ea
                id
                commodo aliqua nisi id enim exercitation in. Adipisicing exercitation adipisicing mollit anim enim id
                consectetur aute pariatur. In dolor veniam tempor nulla sunt aliquip.</p>
        </kendo-card-body>
        <kendo-card-actions orientation="horizontal" layout="stretched">
            <button kendoButton fillMode="flat" (click)="toggleLike()">
                <span [ngClass]="heartIcon()"></span>
                Like
            </button>
            <hr kendoCardSeparator orientation="vertical" />
            <button kendoButton fillMode="flat">Share</button>
            <hr kendoCardSeparator orientation="vertical" />
            <button kendoButton fillMode="flat">Read More</button>
        </kendo-card-actions>
        <kendo-card-footer class="k-hstack">
            <span>Created By @alex</span>
            <span>Date </span>
        </kendo-card-footer>
        {{todayDate}}
    </kendo-card>