 .card-article {
        gap: 16px;
        color: #656565;
        padding: 16px;
        margin-bottom: 8px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 3px;
      }

      .card-article-description .date {
        font-size: 10px;
        line-height: 20px;
      }

      .card-article-description .separator {
        padding: 0 5px;
      }

      .card-article-description .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
      }

      .card-article-description .author {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
        font-weight: bold;
      }

      .k-card-horizontal .k-card-media.card-article-image {
        max-width: 225px;
      }

      .card-article .photo-text {
        text-align: right;
        font-style: italic;
        font-size: 10px;
        opacity: 0.7;
      }