.suffix-bottom {
        display: flex;
      }

      .wrapper {
        display: flex;
      }

      .wrapper label {
        display: block;
      }

      .wrapper > kendo-label {
        margin-right: 8px;
      }

.custom-styling {
        display: flex;
        justify-content: flex-end;
        padding: 4px;
        border-top-width: 1px;
        border-top-style: solid;
        border-color: inherit;
      }