<h4>FLOATING ACTION BUTTON - ICON</h4>
<div class="example-wrap">
    <kendo-floatingactionbutton icon="bell" [align]="{ horizontal: 'start', vertical: 'bottom' }">
    </kendo-floatingactionbutton>

    <kendo-floatingactionbutton icon="calendar" text="New Event" [align]="{ horizontal: 'center', vertical: 'bottom' }">
    </kendo-floatingactionbutton>

    <kendo-floatingactionbutton text="Scroll to Top" [align]="{ horizontal: 'end', vertical: 'bottom' }">
    </kendo-floatingactionbutton>
</div>